/* Треба написать медіа запрос під мобілу і виставить розміри вікна */
*{
    margin: 0;
}
.stop {
    position: absolute;
    width: 50px;
    height: 100px;
    background-color: black;
    left: 50px;
    bottom: 30px;
    display: none;
}
.run {
    position: absolute;
    width: 50px;
    height: 100px;
    background-color: black;
    right: 50px;
    bottom: 30px;
    display: none;
}
.shop {
    position: absolute;
    top: 30px;
    left: 30px;
}
.run:active,
.stop:active {
    background-color: white;
}

@media (max-width: 768px) {
    .run{
        display: block;
    }
    .stop {
        display: block;
    }
}